*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background: pink;
}

.start_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start button styling */

.start_button button{
    font-size: 20px;
    font-weight: 100;
    padding: 10px 10px;
    color:purple;
    border-color: turquoise;
    border-radius: 5px;
    
}

/*Instruction box styling */
.instructions_title{
    text-align: center;
    font-weight: bolder;
    
}
.instructions_box{
    border: 2px purple solid;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

}