*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background: pink;
}

/* Start button styling */

.start_button{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
}


.start_button {
    font-size: 20px;
    font-weight: 100;
    padding: 10px 10px;
    color:purple;
    border-color: turquoise;
    border-radius: 5px;
    
}

th {
    padding-right: 10px;
}

/* View High Scores styling*/

#highscore-btn { 
    font-size: 25px;
    font-weight: 100;
    color:purple;
    font-family: cursive;

}


/*Instruction box styling */
.instructions_title{
    text-align: center;
    font-weight: bolder;
    
}

.instruction_list {
    margin: auto;
}
.instructions_box{
    border: 2px purple solid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* top: 30%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 10px;

}
/* Question Box styling */
.choice-container {
    background: white;
    /* display: flex; */
    margin-bottom: 10px;
    font-size: larger;
}

.Quiz { 
    display:None
}
.choice-prefix {
padding: 10px;
}


/*Initials*/

.Initials_area {
    display: none;
}